In [10]:
from selenium import webdriver

import sys

In [11]:
driver = webdriver.Chrome()

In [3]:
code_list = ['000070','000080','000140','000150','000210','000270','000390','000720','000880','000990','001060','001230','001430','001680',
 '001740', '002270', '002320', '002350', '002380', '002390','002780', '003300', '003490', '004000', '004020', '004170','004430', '004540',
'004560','004690', '004710', '004960', '005180', '005300', '005380', '005490', '005950', '005960', '006040', '006280', '007310', '007980', '008040',
 '008490', '008770', '009240', '009270', '009290', '009410', '009540', '009830', '011170', '011210', '011760', '011780', '012450', '014680', '015760', 
'016250', '016710', '016880', '017810', '019170', '019440', '020560', '023530', '023590', '025750', '028050', '028260', '028670', '030200', '031440',
 '034020', '036460', '036570', '039130', '042660', '042670', '047040', '047050', '051600', '053210', '058650', '060980', '064350', '069260', '069460',
 '069620', '069960', '071840', '072710', '079980', '082740', '086280', '090350', '091990', '093050', '101530', '103140', '111770', '122900', '128940',
 '139480', '161890', '185750', '204320', '213500', '253450']

In [233]:
tr_list = [4,5,6,7,8,10,11,12,13,14,16,17,18,19,20,22,23,24,25,26]
date = []
title = []
mod = sys.modules[__name__]

In [234]:
date

[]

In [235]:
for o in range(1,1271):
        url = "https://finance.naver.com/item/board.nhn?code=009270&page={}".format(o)
        driver.get(url)
        articles = driver.find_elements_by_css_selector('tbody > tr' )
        for p in tr_list:
            date.append(articles[p].find_element_by_css_selector('td').text)
            title.append(articles[p].find_element_by_css_selector('.title').text)

In [236]:
df_text_009270 = pd.concat([pd.DataFrame(date), pd.DataFrame(title)], axis = 1)

In [237]:
df_text_009270["기업코드"] = '009270'

In [238]:
len(df_text_009270)

25400

In [239]:
total = pd.concat([total, df_text_009270])

In [240]:
len(total)

251656

In [241]:
total.tail()

                      0                    0    기업코드
25395  2017.06.07 09:40       이거 돌아가는 폼새가..?  009270
25396  2017.06.07 09:32   외인 13만 올 집중매수 !!!!  009270
25397  2017.06.07 09:19    미래대우 매수세로 돌아오면..?  009270
25398  2017.06.07 09:09  오늘 외인이 작정하고 들어오네..?  009270
25399  2017.06.07 09:08    오늘도 외인 좋은일 하는 구나.  009270

In [245]:
total.to_csv('/Users/hyunjoon/Documents/text_total.csv', sep=',')

In [247]:
pd.read_csv("/Users/hyunjoon/Documents/text_total.csv", sep =',')

        Unnamed: 0                 0                         0.1  기업코드
0                0  2020.07.05 11:13                이개잡주가 가네 [1]  4690
1                1  2020.07.04 19:52       뭐지? 이 최악의 추가매수는.. [5]  4690
2                2  2020.07.04 08:40  짱구들아 자산가치봐라 지금팔때냐 멍구들아 [2]  4690
3                3  2020.07.04 00:43            이 시점에 ...... [1]  4690
4                4  2020.07.03 13:46                6거래일째 상승 [2]  4690
...            ...               ...                         ...   ...
251651       25395  2017.06.07 09:40              이거 돌아가는 폼새가..?  9270
251652       25396  2017.06.07 09:32          외인 13만 올 집중매수 !!!!  9270
251653       25397  2017.06.07 09:19           미래대우 매수세로 돌아오면..?  9270
251654       25398  2017.06.07 09:09         오늘 외인이 작정하고 들어오네..?  9270
251655       25399  2017.06.07 09:08           오늘도 외인 좋은일 하는 구나.  9270

[251656 rows x 4 columns]