In [1]:
import pandas as pd
import matplotlib.pylab as plt
import missingno as msno
from matplotlib import pyplot as plt
import statsmodels.api as sm

import sys
import re
import missingno as msno
from functools import reduce

import statsmodels.api as sm 
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn import datasets, linear_model
from sklearn.metrics import confusion_matrix, classification_report

from sklearn.preprocessing import LabelEncoder
from scipy.stats import mode


from PIL import Image
from matplotlib import rc
import matplotlib.pyplot as plt
import seaborn as sns
mpl.rc('font', family='AppleGothic')
mpl.rc('axes', unicode_minus=False)
plt.rcParams['axes.unicode_minus'] = False
from IPython.display import set_matplotlib_formats
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999

In [2]:
#csv 파일 데이터 로드

In [3]:
data =pd.read_csv("data.csv")

In [4]:
data.head()

,Organization Name,Organization Name URL,Industries,Headquarters Location,Description,CB Rank (Company),Estimated Revenue Range,Operating Status,Founded Date,Founded Date Precision,Company Type,Number of Articles,Industry Groups,Number of Founders,Founders,Number of Employees,Number of Funding Rounds,Funding Status,Last Funding Date,Last Funding Amount,Last Funding Amount Currency,Last Funding Amount Currency (in USD),Last Funding Type,Last Equity Funding Amount,Last Equity Funding Amount Currency,Last Equity Funding Amount Currency (in USD),Last Equity Funding Type,Total Equity Funding Amount,Total Equity Funding Amount Currency,Total Equity Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Top 5 Investors,Number of Lead Investors,Number of Investors,Number of Events,G2 Stack - Total Products Active,IPqwery - Patents Granted,IPqwery - Trademarks Registered,Announced Date,Announced Date Precision,IPO Status,IPO Date,Price,Price Currency,Price Currency (in USD),Acquisition Status,Money Raised at IPO,Money Raised at IPO Currency,Money Raised at IPO Currency (in USD)
0,Crescent City Capital,https://www.crunchbase.com/organization/cresce...,"Finance, Financial Services","New Orleans, Louisiana, United States",Crescent City Capital is a cryptocurrency fund...,"104,425",NaN,Active,2017-01-01,year,For Profit,NaN,Financial Services,NaN,NaN,1-10,1,Seed,2019-04-24,1000.0,USD,1000.0,Seed,1000.0,USD,1000.0,Seed,1000.0,USD,1000.0,1000,USD,1000,NaN,NaN,NaN,NaN,NaN,0.0,1,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Latch,https://www.crunchbase.com/organization/latch-...,Financial Exchanges,"Los Angeles, California, United States",Latch is a private stock exchange (like NYSE o...,"107,836",NaN,Active,2017-01-01,year,For Profit,NaN,"Financial Services, Lending and Investments",NaN,NaN,1-10,1,Seed,2019-05-17,1000.0,USD,1000.0,Pre-Seed,1000.0,USD,1000.0,Pre-Seed,1000.0,USD,1000.0,1000,USD,1000,Tommy Lee Jones,1.0,1.0,NaN,NaN,0.0,1,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EM Device,https://www.crunchbase.com/organization/em-device,"Health Care, Medical Device","Austin, Texas, United States",EM Device's mission is to garner physician ing...,"126,974",NaN,Active,2016-01-01,year,For Profit,NaN,Health Care,NaN,NaN,1-10,1,NaN,2019-05-16,1000.0,USD,1000.0,Grant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,USD,1000,Texas A&M New Ventures Competition,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immosis,https://www.crunchbase.com/organization/immosis,"Augmented Reality, Education, Gaming, Law Enfo...","Dallas, Texas, United States","Immosis is an agency that creates custom, imme...","97,159",NaN,Active,2016-12-12,day,For Profit,NaN,"Education, Gaming, Government and Military, Ha...",1.0,Marwan Kodeih,11-50,4,NaN,2019-05-16,2000.0,USD,2000.0,Grant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000,USD,2000,Texas A&M New Ventures Competition,NaN,1.0,NaN,NaN,0.0,1,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GaitIQ,https://www.crunchbase.com/organization/gaitiq,Health Care,"San Antonio, Texas, United States",GaitIQ is an simple-to-use primary care app.,"107,370",NaN,Active,2017-01-01,year,For Profit,NaN,Health Care,NaN,NaN,1-10,1,NaN,2019-05-16,5000.0,USD,5000.0,Grant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000,USD,5000,Texas A&M New Ventures Competition,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#결측값 시작적 확인해보기

In [6]:
import industry

data =industry.industry()

In [7]:
# data_IPO = data[data["Funding Status"] == 'IPO']
# data_M = data[data["Funding Status"] == 'M&A']

# index_IPO = list(data_IPO.index)
# index_M = list(data_M.index)

# data = data.drop(index_IPO)
# data = data.drop(index_M)

#data["Last Funding Date"] = data["Last Funding Date"].apply(lambda x: int(str(x)[:4]))
data["Last Funding Date"] = data["Last Funding Date"].apply(lambda x: int(str(x).replace("-","")))

data["Founded Date"] = data["Founded Date"].fillna(99999999)
#data["Founded Date"] = data["Founded Date"].apply(lambda x: int(str(x)[:4]))
data["Founded Date"] = data["Founded Date"].apply(lambda x: int(str(x).replace("-","")))

data["Announced Date"] = data["Announced Date"].fillna(99999999)
#data["Announced Date"] = data["Announced Date"].apply(lambda x: int(str(x)[:4]))
data["Announced Date"] = data["Announced Date"].apply(lambda x: int(str(x).replace("-","")))


data["IPO Date"] = data["IPO Date"].fillna(99999999)
#data["IPO Date"] = data["IPO Date"].apply(lambda x: int(str(x)[:4]))
data["IPO Date"] = data["IPO Date"].apply(lambda x: int(str(x).replace("-","")))
#data = data[data["Last Funding Date"] > 20170117]
# data["IPO Date"] = data["IPO Date"].fillna(400000000)
# data["IPO Date"] = data["IPO Date"].apply(lambda x: int(str(x).replace("-","")))
# data["Announced Date"] =data["Announced Date"].fillna(400000000)
# data["Announced Date"] =data["Announced Date"] .apply(lambda x: int(str(x).replace("-","")))
# data_M["Last Funding Date"] =data_M["Last Funding Date"] .apply(lambda x: int(str(x).replace("-","")))
# data_IPO["IPO Date"] = data_IPO["IPO Date"].apply(lambda x: int(str(x).replace("-","")))
# data_IPO["Last Funding Date"] = data_IPO["Last Funding Date"].apply(lambda x: int(str(x).replace("-","")))
# M_list = set(data["Last Funding Date"][data["Last Funding Date"] > data["Announced Date"]].index)
# IPO_list = set(data["Last Funding Date"][data["Last Funding Date"] > data["IPO Date"]].index)

# total_list = list(M_list.union(IPO_list))
# data_M["Announced Date"] =data_M["Announced Date"] .apply(lambda x: int(str(x).replace("-","")))
# data_M["Last Funding Date"] =data_M["Last Funding Date"] .apply(lambda x: int(str(x).replace("-","")))
#IPO_list = list(set(IPO_list) - {"6634","7231","8705","8845","11405","11494","11965","12749","23725","25275","29348","30270"})


# data = data.drop(total_list)

# data_IPO = data_IPO[data_IPO["IPO Date"] > data_IPO["Last Funding Date"]]
# data_M = data_M[data_M["Announced Date"] > data_M["Last Funding Date"]]

# data_IPO.rename(columns = {"Last Funding Date":"K"})
# data_IPO.rename(columns = {"IPO Date":"Last Funding Date"})

# data_M.rename(columns = {"Last Funding Date":"K"})
# data_M.rename(columns = {"Announced Date":"Last Funding Date"})

# data = pd.concat([data, data_IPO])
# data = pd.concat([data, data_M])
data = data.sort_values(by='Last Funding Date' ,ascending=False).reset_index()

In [8]:
a_list = set(data[data["Founded Date"]  > data["IPO Date"] ].index)
b_list = set(data[data["Founded Date"]  > data["Announced Date"] ].index)
c_list = set(data[data["Founded Date"]  > data["Last Funding Date"] ].index)
t_list = list(c_list.union(a_list.union(b_list)))
data = data.drop(t_list)

In [9]:
#논문에서 스타트업 성공 정의 - M&A , IPO
#성공은 1 아닌건 0
#funding status열 에서 M&A,IPO 한 기업들만 success열에 넣기
data["success"]=data["Funding Status"].isin(['M&A', 'IPO']).astype(int)

In [10]:
len(data["success"][data["success"]==1])

2861

In [11]:
data.head(1)

,index,Organization Name,Organization Name URL,Industries,Headquarters Location,Description,CB Rank (Company),Estimated Revenue Range,Operating Status,Founded Date,Founded Date Precision,Company Type,Number of Articles,Industry Groups,Number of Founders,Founders,Number of Employees,Number of Funding Rounds,Funding Status,Last Funding Date,Last Funding Amount,Last Funding Amount Currency,Last Funding Amount Currency (in USD),Last Funding Type,Last Equity Funding Amount,Last Equity Funding Amount Currency,Last Equity Funding Amount Currency (in USD),Last Equity Funding Type,Total Equity Funding Amount,Total Equity Funding Amount Currency,Total Equity Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Top 5 Investors,Number of Lead Investors,Number of Investors,Number of Events,G2 Stack - Total Products Active,IPqwery - Patents Granted,IPqwery - Trademarks Registered,Announced Date,Announced Date Precision,IPO Status,IPO Date,Price,Price Currency,Price Currency (in USD),Acquisition Status,Money Raised at IPO,Money Raised at IPO Currency,Money Raised at IPO Currency (in USD),Administrative_Services,Advertising,Agriculture,Apps,Artificial_Intelligence,Biotechnology,Clothing_Apparel,Commerce_and_Shopping,Community_Lifestyle,Consumer_Electronics,Consumer_Goods,Content_Publishing,Data_Analytics,Design,Education,Energy,Events,Financial_Services,Food_Beverage,Gaming,Government_Military,Hardware,Health_care,Information_Technology,Lending_Investments,Internet_Services,Manufacturing,Media_Entertainment,Messaging_Telecommunications,Mobile,Music_Audio,Natural_Resources,Navigation_Mapping,Payments,Platforms,Privacy_Security,Professional_Services,Real_Estate,Sales_Marketing,Science_Engineering,Software,Sports,Sustainability,Transportation,Travel_Tourism,Video,success
0,25180,FreightWaves,https://www.crunchbase.com/organization/freigh...,"Analytics, Freight Service, Logistics, Predict...","Chattanooga, Tennessee, United States",FreightWaves is a data and content forum that ...,104,$1M to $10M,Active,20160601,day,For Profit,"1,024","Artificial Intelligence, Data and Analytics, S...",1.0,Craig Fuller,101-250,7,Private Equity,20200724,30000000.0,USD,30000000.0,Private Equity,30000000.0,USD,30000000.0,Private Equity,76400000.0,USD,76400000.0,76400000,USD,76400000,"Apple, 8VC, Revolution, Revolution’s Rise of t...",4.0,16.0,5.0,38,0,1.0,99999999,NaN,Private,99999999,NaN,NaN,NaN,Made Acquisitions,NaN,NaN,NaN,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,0

In [12]:
#인더스트리 넣기 

in_list =('Administrative_Services',\
       'Advertising', 'Agriculture', 'Apps', 'Artificial_Intelligence',\
       'Biotechnology', 'Clothing_Apparel', 'Commerce_and_Shopping',\
       'Community_Lifestyle', 'Consumer_Electronics', 'Consumer_Goods',\
       'Content_Publishing', 'Data_Analytics', 'Design', 'Education', 'Energy',\
       'Events', 'Financial_Services', 'Food_Beverage', 'Gaming',\
       'Government_Military', 'Hardware', 'Health_care',\
       'Information_Technology', 'Lending_Investments', 'Internet_Services',\
       'Manufacturing', 'Media_Entertainment', 'Messaging_Telecommunications',\
       'Mobile', 'Music_Audio', 'Natural_Resources', 'Navigation_Mapping',\
       'Payments', 'Platforms', 'Privacy_Security', 'Professional_Services',\
       'Real_Estate', 'Sales_Marketing', 'Science_Engineering', 'Software',\
       'Sports', 'Sustainability', 'Transportation', 'Travel_Tourism',\
       'Video')

for i in in_list:
    
    data.loc[data[i]>0,"Industries"] = i

In [13]:
#angel투자자 상위 1000 명 기준 top5 에 있으면 1 아니면 0 

df_angel=pd.read_csv("angel_1000 (1).csv")
df_vc = pd.read_csv("vc_1000.csv")
df_accelator = pd.read_csv("accelator_1000.csv")

angel_list=list(df_angel["Organization/Person Name"])
vc_list = list(df_vc["Organization/Person Name"])
accelator_list = list(df_accelator["Organization/Person Name"])

a = vc_list+angel_list+accelator_list

a= str(a)

a =a.replace('\'', '')
a =a.replace('\n','')
a =a.replace(', ', '|' )
a =a.replace('[', '')
a =a.replace(']', '')
a =a.replace(' ', '')

In [14]:
data['Top 5 Investors'] = data['Top 5 Investors'].apply(lambda x: str(x).replace(" ",""))

k =data['Top 5 Investors'].str.contains(a)
k=k.fillna(False)
data['Top 5 Investors'][k] = 1
data['Top 5 Investors'][data['Top 5 Investors']!=1]=0
len(data['Top 5 Investors'][data['Top 5 Investors']==0])

17230

In [15]:
len(data["Number of Articles"][data["Number of Articles"].isnull()])

14172

In [16]:
data["Industries"] = data["Industries"].apply(lambda x: str(x).replace("_",""))
data["Industries"] = data["Industries"].apply(lambda x: str(x).replace(" ",""))

In [17]:
data["Industries"][data["Industries"].str.contains("Association")==True] = "Association"
data["Industries"][data["Industries"].str.contains("B2B")==True] = "B2B"
data["Industries"][data["Industries"].str.contains("Charity")==True] = "NonProfit"
data["Industries"][data["Industries"].str.contains("NonProfit ")==True] = "NonProfit"
data["Industries"][data["Industries"].str.contains("Blockchain")==True] = "Blockchain"
data["Industries"][data["Industries"].str.contains("BusinessDevelopment")==True] = "BusinessDevelopment"
data["Industries"][data["Industries"].str.contains("ServiceIndustry")==True] = "ServiceIndustry"
data["Industries"][data["Industries"].str.contains("CollaborativeConsumption")==True] = "CollaborativeConsumption"
data["Industries"][data["Industries"].str.contains("Commercial")==True] = "Commercial"
data["Industries"][data["Industries"].str.contains("InnovationManagement")==True] = "InnovationManagement"
data["Industries"][data["Industries"].str.contains("Consulting")==True] = "Consulting"
data["Industries"][data["Industries"].str.contains("CustomerService")==True] = "CustomerService"
data["Industries"][data["Industries"].str.contains("Ethereum")==True] = "Blockchain"
data["Industries"][data["Industries"].str.contains("RealTime")==True] = "InformationTechnology"

In [18]:
da = pd.DataFrame(data.groupby("Industries").size().reset_index())
da.columns = ["a","b"]
c = list(da[da["b"]<=2]["a"])
d = list(data[data["Industries"].isin(c)==True].index)
data = data.drop(d)

In [20]:
data.groupby("Industries").size()

Industries
AdministrativeServices            10
Agriculture                       72
Association                        5
B2B                                5
Blockchain                         8
BusinessDevelopment                5
CommerceandShopping              181
Commercial                        14
CommunityLifestyle               101
Consulting                        15
Consumer                           9
ConsumerGoods                    148
CustomerService                    3
DataAnalytics                     56
Design                           300
Education                        161
Energy                            43
Events                             8
FinancialServices                559
FoodBeverage                     498
Gaming                            46
GovernmentMilitary                24
Hardware                         210
Healthcare                      2069
HumanResources                     7
Industrial                         6
InformationTechnology            685
InnovationManagement               6
InternetServices                 765
LendingInvestments               351
Manufacturing                    398
MediaEntertainment               910
MessagingTelecommunications       74
Mobile                           722
MusicAudio                       224
NaturalResources                 125
NavigationMapping                 66
NonProfit                         28
Payments                         145
Platforms                          4
PrivacySecurity                  411
ProfessionalServices             449
RealEstate                       806
SalesMarketing                   944
ScienceEngineering              2475
ServiceIndustry                   13
SharingEconomy                     3
SmallandMediumBusinesses           3
Software                       12258
Sports                          1229
Sustainability                   958
Transportation                  1550
TravelTourism                   1032
Video                           1297
nan                              350
dtype: int64

In [19]:
data["Number of Articles"] = data["Number of Articles"].fillna(0)
data["Number of Articles"] = data["Number of Articles"].apply(lambda x: str(x).translate(str.maketrans(',.', '  ')))
data["Number of Articles"] = data["Number of Articles"].apply(lambda x: int(str(x).replace(" ","")))
data["Number of Articles"][data["Number of Articles"]>0] = 1

In [20]:
data.loc[data['Number of Employees'] == "1-10",'Number of Employees']=1
data.loc[data['Number of Employees'] =="11-50",'Number of Employees']=2
data.loc[data['Number of Employees'] =="51-100",'Number of Employees']=3
data.loc[data['Number of Employees'] =="101-250",'Number of Employees']=3
data.loc[data['Number of Employees'] =="251-500",'Number of Employees']=4
data.loc[data['Number of Employees'] =="501-1000",'Number of Employees']=4
data.loc[data['Number of Employees'] =="1001-5000",'Number of Employees']=4
data.loc[data['Number of Employees'] =="5001-10000",'Number of Employees']=4
data.loc[data['Number of Employees'] =="10001+",'Number of Employees']=4

In [21]:
print(mode(data['Number of Employees']))

data['Number of Employees'] = data['Number of Employees'].fillna(1)

ModeResult(mode=array([1], dtype=object), count=array([15537]))

In [22]:
data.loc[data["Estimated Revenue Range"] == "Less than $1M" ,"Estimated Revenue Range"] = 1
data.loc[data["Estimated Revenue Range"] == "$1M to $10M" ,"Estimated Revenue Range"] = 2
data.loc[data["Estimated Revenue Range"] == "$10M to $50M" ,"Estimated Revenue Range"] = 3
data.loc[data["Estimated Revenue Range"] == "$50M to $100M" ,"Estimated Revenue Range"] = 4
data.loc[data["Estimated Revenue Range"] == "$100M to $500M" ,"Estimated Revenue Range"] = 4
data.loc[data["Estimated Revenue Range"] == "$500M to $1B" ,"Estimated Revenue Range"] = 4
data.loc[data["Estimated Revenue Range"] == "$1B to $10B" ,"Estimated Revenue Range"] = 4
data.loc[data["Estimated Revenue Range"] == "$10B+" ,"Estimated Revenue Range"] = 4

In [23]:
data["Number of Funding Rounds"][data["Number of Funding Rounds"] >9] = 10

In [24]:
# print(mode(data["Estimated Revenue Range"][data["Estimated Revenue Range"]!=1000]))

data["Estimated Revenue Range"]=data["Estimated Revenue Range"].fillna(1)

In [25]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.replace('-', '')
data.columns = data.columns.str.replace('_', '')

In [26]:
len(data["TotalEquityFundingAmount"][data["TotalEquityFundingAmount"].isnull()])

2519

In [27]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.replace('-', '')
data["CBRank"]=data["CBRank(Company)"]

In [28]:
len(data["CBRank"][data["CBRank"].isnull()])

62

In [29]:
# data["FundingStatus"] =data["FundingStatus"].fillna(1234)
# data["FundingStatus"][data["FundingStatus"] == 1234] = "Seed"
# data["FundingStatus"][data["FundingStatus"] == "IPO"] = "Sucess"
# data["FundingStatus"][data["FundingStatus"] == "M&A"] = "Sucess"
# data["FundingStatus"][data["FundingStatus"] == 1234] = "Seed"
# data["FundingStatus"][data["FundingStatus"] == 1234] = "Seed"

In [30]:
# data = pd.concat([data,pd.get_dummies(data["FundingStatus"])],axis = 1)# 원핫인코딩 실행

In [31]:
data["IPqweryPatentsGranted"] = data["IPqweryPatentsGranted"].fillna(0)
data["IPqweryPatentsGranted"] = data["IPqweryPatentsGranted"].apply(lambda x: str(x).translate(str.maketrans(',.', '  ')))
data["IPqweryPatentsGranted"] = data["IPqweryPatentsGranted"].apply(lambda x: int(str(x).replace(" ","")))
data["IPqweryPatentsGranted"][data["IPqweryPatentsGranted"]>0] = 1

In [32]:
len(data['NumberofEmployees'][data['NumberofEmployees'].isnull()])

0

In [33]:
len(data["IPqweryPatentsGranted"][data["IPqweryPatentsGranted"].isnull()])

0

In [34]:
len(data["G2StackTotalProductsActive"][data["G2StackTotalProductsActive"].isnull()])

14522

In [35]:
# print(mode(data["IPqweryPatentsGranted"][data["IPqweryPatentsGranted"] !=1000]))

# data["IPqweryPatentsGranted"] = data["IPqweryPatentsGranted"].fillna(0)

In [36]:
data["G2StackTotalProductsActive"] = data["G2StackTotalProductsActive"].fillna(0)
data["G2StackTotalProductsActive"] = data["G2StackTotalProductsActive"].apply(lambda x: str(x).translate(str.maketrans(',.', '  ')))
data["G2StackTotalProductsActive"] = data["G2StackTotalProductsActive"].apply(lambda x: int(str(x).replace(" ","")))
data["G2StackTotalProductsActive"][data["G2StackTotalProductsActive"]>0] = 1

In [37]:
len(data["NumberofFounders"][data["NumberofFounders"].isnull()])

5248

In [38]:
data["NumberofFounders"] = data["NumberofFounders"].fillna(1)

In [39]:
#data["LastFundingAmount"] = data["LastFundingAmount"].fillna(100000)

In [40]:
#data["LastEquityFundingAmount"] = data["LastEquityFundingAmount"].fillna(100000)

In [41]:
#len(data['TotalEquityFundingAmount'][data['TotalEquityFundingAmount'].isnull()])

In [42]:
#data['TotalEquityFundingAmount'] = data['TotalEquityFundingAmount'].fillna(100000)

In [43]:
len(data["NumberofLeadInvestors"][data["NumberofLeadInvestors"].isnull()])

19422

In [44]:
data["NumberofLeadInvestors"] = data["NumberofLeadInvestors"].fillna(0)

In [45]:
data["NumberofLeadInvestors"][data["NumberofLeadInvestors"]>0] = 1

In [46]:
len(data['NumberofInvestors'][data['NumberofInvestors'].isnull()])

11144

In [47]:
data['NumberofInvestors'] = data['NumberofInvestors'].fillna(1)

In [48]:
len(data['NumberofEvents'][data['NumberofEvents'].isnull()])

25702

In [49]:
data['NumberofEvents'] = data['NumberofEvents'].fillna(0)
data['NumberofEvents'][data['NumberofEvents']>0] = 1

In [50]:
len(data["IPqweryTrademarksRegistered"][data["IPqweryTrademarksRegistered"].isnull()])

19064

In [51]:
data["IPqweryTrademarksRegistered"] = data["IPqweryTrademarksRegistered"].fillna(0)
data["IPqweryTrademarksRegistered"] = data["IPqweryTrademarksRegistered"].apply(lambda x: str(x).translate(str.maketrans(',.', '  ')))
data["IPqweryTrademarksRegistered"] = data["IPqweryTrademarksRegistered"].apply(lambda x: int(str(x).replace(" ","")))
data["IPqweryTrademarksRegistered"][data["IPqweryTrademarksRegistered"]>0]=1

In [52]:
# M&A,ipo 데이터 시계열 만들기

# data["IPO Date"] = data["IPO Date"].fillna(0)
# data["Announced Date"] =data["Announced Date"].fillna(0)

# IPO  =data[data["IPO Date"] !=0]
# Announced = data[data["Announced Date"] != 0]

# data["sweet"]=IPO["IPO Date"]
# data["sweet"] = Announced["Announced Date"]

# sweet_day =data["sweet"].dropna()
# sweet_day_1 =sweet_day.drop_duplicates()
# sweet_day_num= sweet_day.groupby(sweet_day).size()

# plt.rcParams["figure.figsize"] = (20,10)
# plt.plot(sweet_day_1,sweet_day_num)
# plt.show()

In [53]:
# funding _date 받은 회사 기준 시계열

# Funding_date = data["Last Funding Date"].sort_values()
# Funding_date_num =Funding_date.groupby(Funding_date).size()
# Funding_date =Funding_date.drop_duplicates()


# plt.rcParams["figure.figsize"] = (20,10)
# plt.plot(Funding_date,Funding_date_num)
# plt.show()

In [54]:
# 본격적인 데이터 분석을 위한 데이터 컬럼 정리
# data = data.sort_values(by='LastFundingDate' ,ascending=True).reset_index()
#data = data[['OrganizationName', 'HeadquartersLocation','EstimatedRevenueRange', 'FoundedDate', 'IndustryGroups',\
#     'NumberofEmployees', 'FundingStatus', 'LastFundingDate','TotalFundingAmountCurrency', 'Top5Investors', 'NumberofLeadInvestors',\
#    'NumberofInvestors', 'IPqweryPatentsGranted','CBRank','IPqweryTrademarksRegistered','AnnouncedDate', 'IPODate', 'success']]

In [55]:
data = data[["Industries","HeadquartersLocation","CBRank","EstimatedRevenueRange","NumberofArticles","NumberofFounders","NumberofEmployees",
"NumberofFundingRounds","TotalEquityFundingAmount","TotalFundingAmount",
"Top5Investors","NumberofLeadInvestors","NumberofInvestors","NumberofEvents","G2StackTotalProductsActive","IPqweryPatentsGranted",
             "IPqweryTrademarksRegistered","FundingStatus","success"]]

In [56]:
data["CBRank"] = data["CBRank"].apply(lambda x: str(x).replace(",", ""))
data["HeadquartersLocation"]= data["HeadquartersLocation"].str.contains('California').astype(int)
data['Industries'] = data['Industries'].apply(lambda x: str(x).replace("2","to"))

le = LabelEncoder()
le.fit(data['Industries'])
data['Industries'] = le.transform(data['Industries'])

In [57]:
len(list(data[data.values == "nan"].index))

62

In [58]:
cb_index = list(data[data.values == "nan"].index)

In [59]:
data = data.drop(cb_index)

In [60]:
print(len(data[data["success"]==1]))
print("============")
print(len(data.columns))

2861
============
19

In [61]:
X = data[["TotalFundingAmount","TotalEquityFundingAmount",]]
X_r = data[["HeadquartersLocation","Top5Investors","IPqweryTrademarksRegistered","NumberofLeadInvestors","NumberofEvents","NumberofArticles","Industries",
            "G2StackTotalProductsActive","IPqweryPatentsGranted","NumberofInvestors","EstimatedRevenueRange","NumberofFounders","NumberofEmployees",
            "NumberofFundingRounds","success"]]

In [62]:
robust_scaler =RobustScaler()
rb = robust_scaler.fit(X)
output = robust_scaler.transform(X)
output = pd.DataFrame(output, columns=X.columns, index=list(X.index.values))

In [63]:
output =pd.concat([X,X_r], axis = 1)

In [64]:
output.head()

,TotalFundingAmount,TotalEquityFundingAmount,HeadquartersLocation,Top5Investors,IPqweryTrademarksRegistered,NumberofLeadInvestors,NumberofEvents,NumberofArticles,Industries,G2StackTotalProductsActive,IPqweryPatentsGranted,NumberofInvestors,EstimatedRevenueRange,NumberofFounders,NumberofEmployees,NumberofFundingRounds,success
0,76400000,76400000.0,0,1,1,1.0,1.0,1,51,1,0,16.0,2,1.0,3,7,0
1,22285000,21985000.0,0,1,0,1.0,0.0,1,29,1,0,11.0,2,3.0,2,6,0
3,10000000,10000000.0,1,1,0,1.0,0.0,1,41,1,0,2.0,2,1.0,2,3,0
4,11450000,11450000.0,1,1,0,1.0,0.0,1,48,0,0,3.0,1,1.0,2,2,0
5,13000000,13000000.0,1,1,0,1.0,0.0,1,53,0,0,3.0,1,3.0,2,2,0

In [65]:
output.describe()

,TotalFundingAmount,TotalEquityFundingAmount,HeadquartersLocation,IPqweryTrademarksRegistered,NumberofLeadInvestors,NumberofEvents,NumberofArticles,Industries,G2StackTotalProductsActive,IPqweryPatentsGranted,NumberofInvestors,EstimatedRevenueRange,NumberofFounders,NumberofEmployees,NumberofFundingRounds,success
count,3.278200e+04,3.026900e+04,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000,32782.000000
mean,1.767126e+07,1.679190e+07,0.360533,0.327497,0.409157,0.217863,0.569764,41.373803,0.557776,0.151333,3.578763,1.364865,1.832011,1.631993,2.192667,0.087274
std,1.299924e+08,1.204214e+08,0.480163,0.469307,0.491686,0.412800,0.495117,11.357111,0.496658,0.358379,4.784219,0.631936,1.008398,0.739371,1.613289,0.282240
min,1.000000e+03,1.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,2.802500e+05,3.249950e+05,0.000000,0.000000,0.000000,0.000000,0.000000,33.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,1.585436e+06,1.750000e+06,0.000000,0.000000,0.000000,0.000000,1.000000,48.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.000000,2.000000,0.000000
75%,7.150000e+06,7.668750e+06,1.000000,1.000000,1.000000,0.000000,1.000000,48.000000,1.000000,0.000000,4.000000,2.000000,2.000000,2.000000,3.000000,0.000000
max,1.512903e+10,1.351080e+10,1.000000,1.000000,1.000000,1.000000,1.000000,54.000000,1.000000,1.000000,103.000000,4.000000,11.000000,4.000000,10.000000,1.000000

In [66]:
model_med = sm.Logit.from_formula("success ~ EstimatedRevenueRange+NumberofFundingRounds\
    +NumberofEmployees+Top5Investors+G2StackTotalProductsActive+HeadquartersLocation+NumberofInvestors+Industries+IPqweryTrademarksRegistered", output)
result_med = model_med.fit()
print(result_med.summary())

Optimization terminated successfully.
         Current function value: 0.269698
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                success   No. Observations:                32782
Model:                          Logit   Df Residuals:                    32772
Method:                           MLE   Df Model:                            9
Date:                Thu, 30 Jul 2020   Pseudo R-squ.:                 0.08942
Time:                        15:10:30   Log-Likelihood:                -8841.3
converged:                       True   LL-Null:                       -9709.5
Covariance Type:            nonrobust   LLR p-value:                     0.000
===============================================================================================
                                  coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      -4.6339      0.104    -44.419      0.000      -4.838      -4.429
Top5Investors[T.1]              0.6540      0.048     13.503      0.000       0.559       0.749
EstimatedRevenueRange           0.3266      0.030     10.712      0.000       0.267       0.386
NumberofFundingRounds          -0.1075      0.015     -7.097      0.000      -0.137      -0.078
NumberofEmployees               0.3296      0.030     11.074      0.000       0.271       0.388
G2StackTotalProductsActive      1.0253      0.053     19.479      0.000       0.922       1.128
HeadquartersLocation            0.0971      0.042      2.326      0.020       0.015       0.179
NumberofInvestors               0.0206      0.004      4.802      0.000       0.012       0.029
Industries                      0.0078      0.002      3.928      0.000       0.004       0.012
IPqweryTrademarksRegistered    -0.2014      0.045     -4.487      0.000      -0.289      -0.113
===============================================================================================

In [67]:
output.columns

Index(['TotalFundingAmount', 'TotalEquityFundingAmount',
       'HeadquartersLocation', 'Top5Investors', 'IPqweryTrademarksRegistered',
       'NumberofLeadInvestors', 'NumberofEvents', 'NumberofArticles',
       'Industries', 'G2StackTotalProductsActive', 'IPqweryPatentsGranted',
       'NumberofInvestors', 'EstimatedRevenueRange', 'NumberofFounders',
       'NumberofEmployees', 'NumberofFundingRounds', 'success'],
      dtype='object')

In [68]:
# "EstimatedRevenueRange+NumberofFundingRounds\
#     +NumberofEmployees+Top5Investors+G2StackTotalProductsActive+HeadquartersLocation+NumberofInvestors+Industries+IPqweryTrademarksRegistered"

# QDQA

In [69]:
output = output.drop(columns=['NumberofFounders',"NumberofEvents","IPqweryPatentsGranted",
                                                     'NumberofArticles',"TotalFundingAmount","TotalEquityFundingAmount"])

In [70]:
output.head()

,HeadquartersLocation,Top5Investors,IPqweryTrademarksRegistered,NumberofLeadInvestors,Industries,G2StackTotalProductsActive,NumberofInvestors,EstimatedRevenueRange,NumberofEmployees,NumberofFundingRounds,success
0,0,1,1,1.0,51,1,16.0,2,3,7,0
1,0,1,0,1.0,29,1,11.0,2,2,6,0
3,1,1,0,1.0,41,1,2.0,2,2,3,0
4,1,1,0,1.0,48,0,3.0,1,2,2,0
5,1,1,0,1.0,53,0,3.0,1,2,2,0

In [71]:
len(output.columns)

11

In [72]:
X = output.iloc[:,:-1]
y = output.iloc[:,[-1]]

In [73]:
len(X)

32782

In [74]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)#stratify=y

In [75]:
# df_train = X.iloc[:23000]
# df_test = X.iloc[23001:]
# y_train = y.iloc[:23000]
# y_test = y.iloc[23001:]

In [76]:
# from sklearn.linear_model import LogisticRegression


# model_sk = LogisticRegression().fit(df_train, y_train)
# y_pred = model_sk.predict(df_test)

In [77]:
from sklearn.linear_model import LogisticRegression


model_sk = LogisticRegression().fit(X_train, y_train)
y_pred = model_sk.predict(X_test)

In [78]:
print(classification_report(np.array(y_test), y_pred))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95      8981
           1       0.67      0.00      0.00       854

    accuracy                           0.91      9835
   macro avg       0.79      0.50      0.48      9835
weighted avg       0.89      0.91      0.87      9835

In [79]:
from sklearn.metrics import classification_report, confusion_matrix
from imblearn.under_sampling import TomekLinks, CondensedNearestNeighbour,OneSidedSelection,EditedNearestNeighbours,NeighbourhoodCleaningRule
ncr= NeighbourhoodCleaningRule( sampling_strategy='auto')

X_res,y_res = ncr.fit_sample(X,y)

In [80]:
print(len(X_res))

27597

In [81]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.3, random_state=0)#stratify=y

In [82]:
# df_train = X_res.iloc[:23000]
# df_test = X_res.iloc[23001:]
# y_train = y_res.iloc[:23000]
# y_test = y_res.iloc[23001:]

In [83]:
model_sk = LogisticRegression().fit(X_train, y_train)

In [84]:
y_pred = model_sk.predict(X_test)

In [85]:
print(classification_report(np.array(y_test), y_pred))

              precision    recall  f1-score   support

           0       0.90      1.00      0.95      7414
           1       0.71      0.03      0.07       866

    accuracy                           0.90      8280
   macro avg       0.81      0.52      0.51      8280
weighted avg       0.88      0.90      0.85      8280

In [86]:
from imblearn.combine import *

In [87]:
from imblearn.over_sampling import SMOTE,ADASYN,RandomOverSampler
sm = SMOTE()
X_resampled, y_resampled = sm.fit_sample(X,y)

In [88]:
len(X_resampled),len(y_resampled)

(59842, 59842)

In [89]:
len(y_resampled["success"][y_resampled["success"] ==1])

29921

In [102]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.3, random_state=0)#stratify=y

In [103]:
# df_train = X_resampled.iloc[:45000]
# df_test = X_resampled.iloc[45001:]
# y_train = y_resampled.iloc[:45000]
# y_test = y_resampled.iloc[45001:]

In [104]:
y_pred = model_sk.predict(X_test)

In [105]:
print(classification_report(np.array(y_test), y_pred))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67      8922
           1       0.77      0.01      0.03      9031

    accuracy                           0.50     17953
   macro avg       0.64      0.51      0.35     17953
weighted avg       0.64      0.50      0.35     17953